<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

<!-- wp:post-title /-->

<!-- wp:post-content /-->

<!-- wp:group {"className":"wr-agenda-wrap"} -->
<div class="wp-block-group wr-agenda-wrap">
<!-- wp:shortcode -->
[wr_agenda events_per_page="10"]
<!-- /wp:shortcode -->
</div>
<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
